.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.table-container.expanded {
  flex-direction: column;
}

.table-scroll {
  max-height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 930px;
}

.table-scroll-container {
  max-height: 450px;
  overflow: auto;
}

.custom-table {
  width: 290%;
  border-radius: inherit;
  border: 5px solid #000;
  background: #d9d9d9;
  border-collapse: collapse;
}

.custom-table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.custom-table th {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.cell-content {
  padding: 5px;
}

.add-row-button {
  position: absolute;
  top: 40px;
  right: 6%;
  width: 100px;
  height: 50px;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 200px;
  background: #0f6;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: #000;
  text-align: center;
  font-family: League Gothic;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-box-container {
  position: absolute;
  top: 10px;
  right: 90%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.list-box {
  width: 400%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.selected-item {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}

.bgred {
  background: lightblue;
}
