.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 92%;
}

.textpls {
  font-size: 40px;
  margin: 7px;
  position: absolute;
  left: 59px;
  top: 97px;
}

.textpic {
  margin: 6px;
  position: absolute;
  left: 4%;
  top: 385px;
}

.textcapa {
  margin: 6px;
  position: absolute;
  right: 12%;
  top: 204px;
}

.custom-input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 250px;
  margin-top: 310px;
  vertical-align: top;
  resize: none;
}

.custom-input:focus {
  outline: none;
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.butsubx {
  border-radius: 200px;
  background: #0f6;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 670px;
  right: 59px;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  width: 130px;
  height: 50px;
}

.list-box-container {
  position: absolute;
  top: 200px;
  left: 3%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 10%;
}

.list-box {
  width: 300%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-box2 {
  width: 300%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.selected-item {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}

.list-box-container-right {
  position: absolute;
  top: 200px;
  right: 50%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 10%;
}

.custom-inputx2 {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 10%;
  height: 30px;
  margin-top: 231px;
  resize: none;
  position: absolute;
  top: 0px;
  right: 6%;
  z-index: 2;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

.ellipsis-message {
  margin-left: 5px;
  color: #333;
  position: absolute;
  top: 114px;
  left: 32%;
  font-size: 24px;
  margin: 5px;
}

.ellipsis-message2 {
  margin-left: 5px;
  color: #333;
  position: absolute;
  top: 114px;
  left: 52%;
  font-size: 24px;
  margin: 5px;
}

.backcolorpls {
  background: aquamarine;
  overflow: hidden;
  height: 100vh;
}

.list-box-container3 {
  position: absolute;
  top: 290px;
  left: 3%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 10%;
}

.list-box3 {
  width: 180%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-box4 {
  width: 180%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-box-container4 {
  position: absolute;
  top: 310px;
  left: 25%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 10%;
}

.list-box5 {
  width: 180%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-box-container5 {
  position: absolute;
  top: 310px;
  left: 49%;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  color: black;
  width: 10%;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  position: absolute;
  top: 100px;
  right: 70%;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
}

.checkbox-container input:checked + .checkmark {
  background-color: #000;
}

.checkbox-container2 {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  position: absolute;
  top: 100px;
  right: 50%;
}

.checkbox-container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container2 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
}

.checkbox-container2 input:checked + .checkmark {
  background-color: #000;
}
