.table-container-e {
  display: flex;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.custom-table-e {
  width: 85%;
  border-collapse: collapse;
  margin: 120px;
  border: 5px solid #000;
  background: #d9d9d9;
  position: absolute;
  left: 1%;
  top: 130px;
}

.custom-table-e th {
  color: black;
}

.custom-table-e th,
.custom-table-e td {
  border: 1px solid black;
  padding: 10px;
  text-align: top;
  text-align: center;
}

.custom-table-e th {
  background-color: #d9d9d9;
}

.custom-table-e tbody tr:nth-child(odd) {
  background-color: #d9d9d9;
}

.custom-table-e tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

.bgscore-e {
  background: aquamarine;
}

.texte {
  font-size: 30px;
  margin: 6px;
  position: absolute;
  left: 8%;
  top: 270px;
}
